name: CD

on:
  push:
    branches:
    - main
  workflow_dispatch:

jobs:
  release:
    uses: ./.github/workflows/release-plz.yml
    permissions:
      contents: write
      packages: write
      pull-requests: write
      issues: write